#imgas{
    
    line-height:70px;
    background-color:rgb(6, 248, 127);
    text-align:left;
    
    font-variant:small-caps;
    clear:both;
    margin-top: -16px;
    margin-left: -16px;
    margin-bottom: -16px;
    margin-right: -16px;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    font-size: 20px;
}

#header{
    margin: -auto;
    background-color: #000000;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-right: -15px;
}
nav{
    display:flex;
    justify-content: space-between;
    justify-items: center;
}
#logo img{
    max-width: 120px;
    height: auto;
    justify-self: left;
    justify-content: space-between;
}
#main-menu{
    list-style: none;
    display:flex;
}
#main-menu li:hover a{
    color:blue;;
    position:relative;
   
}
#main-menu li a{
    color: #f8f8f8;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}
#main-menu ul.menuxe{
    position:absolute;
    background-color: #131921 ;
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    display: none;
}
#main-menu li:hover ul.menuxe{
    display: contents;
}
#main-menu ul.menuxe a{
    padding: 8px 15px;
    border-bottom: 1px solid #434343 ;
    
}
#main-menu>li>a{
    position: relative;
}
#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: 0px;
    background-color: rgb(151, 144, 144);
    position:absolute;
    bottom: 0px;
    left: 0px;
   
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu>li:hover>a::before{
    width: 100%;
}
#main-menu .menuxe li:hover a{
    color: red;
    font-size: 25px;
}
.footer{
    margin-bottom: -25px;
    margin-top: -50%;
    margin-left: -10px;
    margin-right: -10px;
}
.boxcenter{
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
}

.noidung{
    width: 100%;
    min-height: 2000px;
    
}
.boxtrai{
    float:left;
    width: 75%;
    min-height: 2000px;
   
    margin-bottom: 10px;
    position: relative;
    
}
.boxphai{
    background-color:white;
    float: right;
    width: 24%;
    min-height: 1000px;
    margin-top: -135%;
    position: relative;
}
.box1{
    width: 50%;
    height: 24%;
    top: 60px;
    left: 20px;  
    position: absolute;
}
.box1 > a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding: 0 10px;
    line-height: 40px;
    margin-left: 10;
}
.box1 >a:hover{
    color: red;
}
.box1nho{
    font-size: 20px;
    margin-bottom: auto;
}
.box2{
    width: 43%;
    height: 150px;
    top: 3%;
    right: 20px;
    left: 53%;
    position: absolute;
}
.box2 > a{
    text-decoration: none;
    color: black;
}
.box2 >a:hover{
    
    color:red;
    margin-bottom: auto;
}
.box3{
    width: 43%;
    height: 150px;
    
    top: 19%;
    left: 53%;
    right: 20px;
    position: absolute;
}
.box3 > a{
    text-decoration: none;
    color: black;
}
.box3 > a:hover{
    color: red;
    margin-bottom: auto;
}
.box4{
    width: 43%;
    height: 157px;
    top: 11%;
    right: 20px;
    left: 53%;
    position: absolute;
}
.box4 > a{
    text-decoration: none;
    color: #000;
    
}
.box4 > a:hover{
  color: red;
  margin-bottom: auto;

}
.box5{
    width: 22%;
    height: 24%;
    left: 30px;
    position: absolute;
}
.box5 img{
    width: 100%;
    height: 40%;
}
.box5 > a{
    text-decoration: none;
    color: #000;
    font-size: 23px;
}
.box5 > a:hover{
    color: red;
    margin-bottom: auto;
}
.box6{
    width: 22%;
    height: 24%;
    left: 28%;
    position: absolute;
}
.box6 img{
    width: 100%;
    height: 40%;
}
.box6 > a{
    text-decoration: none;
    color: #000;
    font-size: 23px;
}
.box6 > a:hover{
    color: red;
    margin-bottom: auto;
}
.box7{
    width: 22%;
    height: 24%;
    left: 52%;
    position: absolute;
}
.box7 img{
    width: 100%;
    height: 40%;
}
.box7 > a{
    text-decoration: none;
    color: #000;
    font-size: 23px;
}
.box7 > a:hover{
    color: red;
    margin-bottom: auto;
}
.box8{
    width: 22%;
    height: 24%;
    left: 76%;
    position: absolute;
}
.box8 img{
    width: 100%;
    height: 40%;
}
.box8 > a{
    text-decoration: none;
    color: #000;
    font-size: 23px;
}
.box8 > a:hover{
    color: red;
    margin-bottom: auto;
}
.box9{
    width: 96%;
    height: 122.2px;
  
    top: 55%;
    right: 20px;
    left: 2%;
    
    position: absolute;

}
.box9 img{
    width: 100%;
    margin-bottom: -100px;
}
.box10{
  
    width: 96%;
    height: 150px;
    top: 63%;
    right: 20px;
    left: 2%;
    position: absolute;
}
.nho1{
    width: 24%;
    height: 150px;
   float: right;
}
.nho1 > a{
    margin-left: 60px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.nho2{
    width: 24%;
    height: 150px;
    float: right;
}
.nho2 >a {
    margin-left: 60px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.nho3{
    width: 24%;
    height: 150px;
    float: right;
}
.nho3 > a{
    margin-left: 60px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.nho4{
    width: 24%;
    height: 150px;
    float: right;
}
.nho4 > a{
    margin-left: 60px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.box11{
    width: 96%;
    height: 150px;
    top: 77%;
    right: 20px;
    left: 2%;
    position: absolute;
}
.nho5{
    width: 24%;
    height: 150px;
    float: right;
}
.nho5 > a{
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.nho6{
    width: 24%;
    height: 150px;
    float: right;
}
.nho6 > a{
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.nho7{
    width: 24%;
    height: 150px;
    float: right;
}
.nho7 > a{
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.nho8{
    width: 24%;
    height: 150px;
    float: right;
}
.nho8 > a{
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.box12{
    width: 96%;
    height: 200px;
  
    top: 1%;
    right: 20px;
    left: 2%;
    position: absolute;
}
.box12 img{
    width: 100%;
}
.box12 > a{
    text-decoration: none;
    font-size: 23px;
    color: #000;
}
.box12 > a:hover{
    color: red;
    margin-bottom: auto;
}
.box13{
 
    width: 96%;
    height: 150px;
   
    top: 20%;
    right: 20px;
    left: 2%;
    position: absolute;
}
.box13 img{
    width: 100%;
}
.box13 > a{
    text-decoration: none;
    font-size: 23px;
    color: #000;
}
.box13 >a:hover{
    color: red;
    margin-bottom: auto ;
}